<header class="header">
  <h1 class="visually-hidden">FROST-ONLINE-PLAYER</h1>
  <div class="header__container container">
    <a href="./" class="header__link"
      >FROST.ONLINE.PLAYER
      <svg class="header__logo">
        <use href="./images/symbol-defs.svg#icon-headphones"></use>
      </svg>
    </a>
    <form class="header__form">
      <label><input class="header__input" type="search" /> </label>
      <button class="header__button">
        <svg class="header__icon-search">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <button class="header__button-favorite">
      <svg class="header__icon-favorite">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
    </button>
  </div>
</header>
