<header class="header">
  <h1 class="visually-hidden">FROST-ONLINE-PLAYER</h1>
  <div class="header__container container">
    <a href="./" class="header__link"
      >FROST-ONLINE-PLAYER
      <img class="header__logo" src="./images/HeadphonesLogo.svg" alt="logo" />
    </a>
    <form class="header__form">
      <label><input class="header__input" type="search" /> </label>
      <button class="header__button">
        <img
          class="header__icon-search"
          src="./images/SearchButton.svg"
          alt="Search Button"
        />
      </button>
    </form>
    <button class="header__button">
      <img
        class="header__icon-favorite"
        src="./images/Favorite.svg"
        alt="Heart logo"
      />
    </button>
  </div>
</header>
