<section class="catalog">
  <h2 class="visually-hidden">Список трeков</h2>
  <div class="container catalog__wrap">
    <ul class="catalog__list">
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">NAME</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__track">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
    </ul>
  </div>
</section>
