<section class="catalog">
  <h2 class="visually-hidden">Список трeков</h2>
  <div class="container catalog__wrapper">
    <ul class="catalog__list">
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">NAME</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <!-- ! трабла с текстом, если много - то выпадает, пофиксить ! -->
          <div class="catalog__track">
            <p class="catalog__name">GROUP</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
      <li class="catalog__item">
        <button class="catalog__button">
          <div class="catalog__wrap">
            <img
              class="catalog__img"
              src="./images/zaglushka.jpg"
              alt="Photo Album"
            />
          </div>
          <div class="catalog__track">
            <p class="catalog__name">TRACK</p>
            <p class="catalog__group">GROUP</p>
          </div>
        </button>
      </li>
    </ul>
    <button class="catalog__button--add">
      Загрузить больше
      <svg class="catalog__button--add-icon">
        <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
      </svg>
    </button>
  </div>
</section>
