<section class="player player-active">
  <h2 class="visually-hidden">PLAYER</h2>
  <div class="player__container">
    <div class="player__track-info track-info">
      <p class="player__track">Track</p>
      <p class="player__group">Group</p>
    </div>

    <div class="player__controller">
      <button
        class="player__button player__icon player__icon-stop player__controller-stop"
      ></button
      ><button
        class="player__button player__icon player__icon-prev player__controller-prev"
      ></button>
      <button
        class="player__button player__icon player__icon-paused player__controller-paused player__controller-play"
      ></button>
      <button
        class="player__button player__icon player__icon-next player__controller-next"
      ></button
      ><button
        class="player__button player__icon player__icon-favorite player__controller-favorite"
      ></button>
    </div>

    <div class="player__progress-wrap">
      <div class="player__progress">
        <input
          class="player__input-progress"
          type="range"
          min="0"
          max="100"
          value="0"
        />
      </div>

      <p class="player__time">
        <span class="player-time__passed">00:00 </span>
        <span> / </span>
        <span class="player-time__total"> 11:24</span>
      </p>
    </div>

    <div class="player__volume-wrap">
      <div class="player__volume">
        <input
          class="player__volume-input"
          type="range"
          min="0"
          max="100"
          value="50"
        />
      </div>
      <button class="player__button player__button-level">
        <svg class="player__button-active">
          <use href="./images/symbol-defs.svg#icon-volumehigh"></use>
        </svg>
        <svg class="player__button-disabled">
          <use href="./images/symbol-defs.svg#icon-volumemute"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
