.catalog {
  margin-bottom: 56px;
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 20px;
  }
  &__button {
    transition: scale 300ms linear;
    &:hover {
      scale: 1.03;
      transition: scale 300ms linear;
    }
    &:active {
      opacity: 0.9;
    }
  }
  &__active {
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.6);
    scale: 0.99;
  }
  &__wrap {
    position: relative;
    width: 100%;
    height: 128px;

    &::after {
      content: '';
      position: absolute;
      display: block;
      background-color: rgba(255, 255, 255, 0.8);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateY(90deg);
      background-image: url(../icons/play.svg);
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
    }
  }
  &__img {
    border-radius: 12px 12px 0px 0px;
  }
  &__track {
    text-align: left;
    padding: 14px 8px;
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
    // width: 100px;
  }
  &__name {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
  }
  &__group {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
  }
  &__button--add {
    display: flex;
    margin-left: auto;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;

    transition: color 250ms ease-in-out;
    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
    &:active {
      color: rgba(255, 255, 255, 0.4);
    }
  }
  &__button--add-icon {
    margin-left: 8px;
    fill: currentColor;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 4px;
    }
    &__item {
      width: 196px;
    }
    &__wrap {
      width: 180px;
      height: 180px;
    }
    &__button--add {
      padding: 16px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .catalog {
    margin-bottom: 56px;
    &__list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      flex-wrap: wrap;
      gap: 4px;
      justify-content: center;
    }
    &__item {
      padding: 6px;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 20px;
    }
    &__button {
      transition: scale 300ms linear;
      &:hover {
        scale: 1.03;
        transition: scale 300ms linear;
      }
      &:active {
        opacity: 0.9;
      }
    }
    &__active {
      border: 2px solid #fff;
      background-color: rgba(255, 255, 255, 0.6);
      scale: 0.99;
    }
    &__wrap {
      position: relative;
      height: 180px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(90deg);
        background-image: url(../icons/play.svg);
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
      }
    }
    &__img {
      border-radius: 12px 12px 0px 0px;
    }
    &__track {
      text-align: left;
      padding: 14px 8px;
      background-color: #fff;
      border-radius: 0px 0px 12px 12px;
      // width: 100px;
    }
    &__name {
      margin-bottom: 6px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
    }
    &__group {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.2;
    }
    &__button--add {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.2;
    }
  }
}

.catalog__item .catalog__wrap::after {
  transform: translate(-50%, -50%) rotateY(0deg);
  transition: transform 150ms ease-in-out, opacity 350ms ease-in-out,
    background-color 250ms ease-in-out;
  opacity: 0;
}
.catalog__item:hover .catalog__wrap::after,
.catalog__item:focus .catalog__wrap::after {
  opacity: 1;
  background-color: rgba(255, 255, 255);
  transition: transform 150ms ease-in-out, opacity 350ms ease-in-out,
    background-color 250ms ease-in-out;
}
.catalog__item:active .catalog__wrap::after {
  transform: translate(-50%, -50%) rotateY(0) scale(1.2);
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #fff;
  opacity: 1;
}
.catalog__active .catalog__wrap:after {
  opacity: 1;
  transform: translate(-50%, -50%) rotateY(0);
  transition: transform 100ms linear;
  background-image: url(../icons/pause.svg);
}
.catalog__pause .catalog__wrap:after {
  background-image: url(../icons/play.svg);
}
