.player {
  position: fixed;
  right: 0;
  left: 0;
  bottom: -100%;

  width: 320px;

  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  margin: 0 auto;
  padding: 24px;

  transition: bottom 350ms ease-in-out;
  &-active {
    bottom: 0;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
  }
}
//! информация про трэк
.player {
  &__track-info {
  }
  &__track {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 6px;
  }
  &__group {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2;
  }
}
.track-info {
}
//!панелька контроля
.player {
  &__button {
    width: 0px;
  }
  &__controller {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;

    &-stop {
    }
    &-prev {
    }
    &-paused {
    }
    &-play {
    }
    &-modified {
    }
    &-next {
    }
    &-favorite {
    }
  }
  &__icon {
    display: block;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: scale 150ms ease-in-out;
    &:hover {
      scale: 1.2;
    }
    &-stop {
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 121.53 122.88' style='enable-background:new 0 0 121.53 122.88' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0{fill-rule:evenodd;clip-rule:evenodd;}%3C/style%3E%3Cg%3E%3Cpolygon points='0,0 121.53,0 121.53,122.88 0,122.88 0,0'/%3E%3C/g%3E%3C/svg%3E");
    }
    &-prev {
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 112.18 122.88' style='enable-background:new 0 0 112.18 122.88' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0{fill-rule:evenodd;clip-rule:evenodd;}%3C/style%3E%3Cg%3E%3Cpath d='M49.19,60.56l62.98,60.56V0L49.19,60.56L49.19,60.56z M0,122.88h35.53V0.05H0V122.88L0,122.88z'/%3E%3C/g%3E%3C/svg%3E");
    }
    &-paused {
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml;charset=utf8,%3C!----%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3E%3Cpath d='M4 4h10v24h-10zM18 4h10v24h-10z'%3E%3C/path%3E%3C/svg%3E");
    }
    &-play {
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml;charset=utf8,%3C!----%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 26 32'%3E%3Cpath d='M6 4l20 12-20 12z'%3E%3C/path%3E%3C/svg%3E");
    }
    &-next {
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 112.18 122.88' style='enable-background:new 0 0 112.18 122.88' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0{fill-rule:evenodd;clip-rule:evenodd;}%3C/style%3E%3Cg%3E%3Cpath d='M62.98,60.56L0,121.12V0L62.98,60.56L62.98,60.56z M112.18,122.88H76.65V0.05h35.53V122.88L112.18,122.88z'/%3E%3C/g%3E%3C/svg%3E");
    }
    &-favorite {
      background-image: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Eheart%3C/title%3E%3Cpath d='M23.6 2c-3.363 0-6.258 2.736-7.599 5.594-1.342-2.858-4.237-5.594-7.601-5.594-4.637 0-8.4 3.764-8.4 8.401 0 9.433 9.516 11.906 16.001 21.232 6.13-9.268 15.999-12.1 15.999-21.232 0-4.637-3.763-8.401-8.4-8.401z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  &__button {
    & svg {
      width: 22px;
      height: 22px;
    }
  }
}
//! панелька прокрутки
.player {
  &__progress-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__progress {
    flex-grow: 1;
    max-width: 486px;
  }
  &__input-progress {
    padding: 9px;
    background-color: transparent;
    height: 31px;
    -webkit-appearance: none;
    // margin: 10px 0;
    width: 100%;
    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000;
      // background: #1e5a32;
      background: #757575;
      border-radius: 20px;
      border: 0px solid #000000;
    }
    &::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 1px solid #000000;
      height: 24px;
      width: 12px;
      border-radius: 30px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -9.5px;

      transition: background 350ms ease-in-out;
      &:hover {
        transition: scale 150ms ease-in-out;
        background: #ffffffd5;
        scale: 1.2;
      }
    }
  }
  &__time {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    &__passed {
    }
    &__total {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}
//! панелька управления звуком
.player {
  &__volume-wrap {
    display: none;
  }
  &__volume {
    background: url(./level-volume2.svg) center/contain no-repeat;
    width: 146px;
    height: 16px;
  }
  &__button-level {
    margin-left: 8px;
  }
  &__button-active {
    display: block;
  }
  &__button-disabled {
    display: none;
  }
}
.player .player__volume-input {
  background-color: transparent;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    height: 25%;
    cursor: pointer;
  }
  &::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 24px;
    width: 12px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;

    transition: background 350ms ease-in-out;
    &:hover {
      transition: scale 150ms ease-in-out;
      background: #ffffffd5;
      scale: 1.2;
    }
  }
}

@media screen and (min-width: 768px) {
  .player {
    right: 34px;
    left: 34px;

    width: 700px;
    height: 138px;
    padding: 22px 38px;
    border-radius: 30px;
    &-active {
      bottom: 24px;
    }
    &__container {
      display: grid;
      justify-items: stretch;
      gap: 24px 20px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__controller {
      align-items: center;
    }
    &__progress-wrap {
      order: 1;
      grid-column: 1 / -1;
    }
    &__volume-wrap {
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }
    &__track {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
    }
    &__group {
      font-weight: 300;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

@media screen and (min-width: 1200px) {
  .player {
    position: fixed;
    right: 0;
    left: 0;
    bottom: -100%;

    width: 1228px;
    height: 90px;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    margin: 0 auto;
    padding: 24px;

    transition: bottom 350ms ease-in-out;
    &-active {
      bottom: 26px;
    }
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 3fr 1fr;
      gap: 20px;
    }
  }
  //!трэк\название
  .player {
    &__track-info {
    }
    &__track {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 6px;
    }
    &__group {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.2;
    }
  }
  .track-info {
  }
  //!панелька контроля
  .player {
    &__controller {
      align-items: center;
      &-stop {
      }
      &-prev {
      }
      &-paused {
      }
      &-play {
      }
      &-modified {
      }
      &-next {
      }
      &-favorite {
      }
    }
    &__icon {
      &-stop {
      }
      &-prev {
      }
      &-paused {
      }
      &-play {
      }
      &-modified {
      }
      &-next {
      }
      &-favorite {
      }
    }
  }
  //! панелька прокрутки
  .player {
    &__progress {
      flex-grow: 1;
      width: 488px;
      &-wrap {
        order: 0;
        grid-column: -2 / 3;
      }
    }
    &__input-progress {
      padding: 9px;
      background-color: transparent;
      height: 31px;
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000;
        // background: #1e5a32;
        background: #757575;
        border-radius: 20px;
        border: 0px solid #000000;
      }
      &::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #000000;
        height: 24px;
        width: 12px;
        border-radius: 30px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -9.5px;

        transition: background 350ms ease-in-out;
        &:hover {
          background: #ffffffd5;
        }
      }
    }
  }
  //! время трэка
  .player__time {
    display: flex;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    &__passed {
    }
    &__total {
      font-size: 14px;
      line-height: 1.2;
    }
  }
  //! панелька управления звуком
  .player {
    &__volume-wrap {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__volume {
      background: url(./level-volume2.svg) center/contain no-repeat;
      width: 146px;
      height: 16px;
    }
    &__volume-input {
      background-color: transparent;
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        height: 25%;
        cursor: pointer;
      }
      &::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #000000;
        height: 24px;
        width: 12px;
        border-radius: 30px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -9.5px;

        transition: background 350ms ease-in-out;
        &:hover {
          background: #ffffffd5;
        }
      }
    }
    &__button-level {
    }
    &__button-active {
      display: block;
    }
    &__button-disabled {
      display: none;
    }
  }
}
